[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "thirdparty/gsl-lite"]
	path = thirdparty/gsl-lite
	url = https://github.com/martinmoene/gsl-lite.git
[submodule "thirdparty/nuklear"]
	path = thirdparty/nuklear
	url = https://github.com/vurtun/nuklear
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/string-view-lite"]
	path = thirdparty/string-view-lite
	url = https://github.com/martinmoene/string-view-lite.git
[submodule "thirdparty/optional-lite"]
	path = thirdparty/optional-lite
	url = https://github.com/martinmoene/optional-lite.git
[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = https://github.com/jpcima/simpleini.git
